.square {
  width: 100%;
  height: 100%;
}

/* Base square colors */
.square.light {
  background-color: var(--board-brown-light);
}

.square.dark {
  background-color: var(--board-brown-dark);
}

.square.light.last-move {
  background-color: var(--board-yellow-light);
}
.square.dark.last-move {
  background-color: var(--board-yellow-dark);
}

/* Valid move indicator */
.square.valid-move::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  height: 30%;
  border-radius: 50%;
  background-color: rgba(30, 30, 30, 0.3); /* dot */
}

.square.capture-move::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%; /* Larger size to stand out */
  height: 80%;
  border-radius: 50%;
  background-color: rgba(30, 30, 30, 0.3); /* dot */
}

/* 

.square.light.valid-move::after {
  background-color: #b58863;
}

.square.dark.valid-move::after {
  background-color: #f0d9b5;
}


.square.valid-move.hovered {
  background-color: inherit;
}

.square.light.valid-move.hovered {
  background-color: #e0c890;
}

.square.dark.valid-move.hovered {
  background-color: #d1a774; 
}


.square.light.valid-move.hovered::after {
  background-color: #b58863; 
}

.square.dark.valid-move.hovered::after {
  background-color: #f0d9b5; 
}


.square.selected {
  background-color: #87b6e0;
} */

.piece {
  z-index: 2;
}
img.dragging {
  opacity: 0.5;
}