.square {
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.square.selected {
    background-color: rgb(255, 255, 51, .5)
}

.square.marked {
    background-color: rgba(0, 255, 0, .5);
}

.piece-wk { background-image: url('../assets/wk.png'); }
.piece-wq { background-image: url('../assets/wq.png'); }
.piece-wr { background-image: url('../assets/wr.png'); }
.piece-wb { background-image: url('../assets/wb.png'); }
.piece-wn { background-image: url('../assets/wn.png'); }
.piece-wp { background-image: url('../assets/wp.png'); }

.piece-bk { background-image: url('../assets/bk.png'); }
.piece-bq { background-image: url('../assets/bq.png'); }
.piece-br { background-image: url('../assets/br.png'); }
.piece-bb { background-image: url('../assets/bb.png'); }
.piece-bn { background-image: url('../assets/bn.png'); }
.piece-bp { background-image: url('../assets/bp.png'); }

