.square {
  width: 100%;
  height: 100%;
}
.square.light {
  background-color: #f0d9b5;
}

.square.light.selected {
  box-shadow: inset 0 0 0 2px white;
}

.square.dark {
  background-color: #b58863;
}

.square.dark.selected {
  box-shadow: inset 0 0 0 2px white;
}

.square.valid-move {
  position: relative;
}

.square.valid-move::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  height: 40%;
  background-color: rgba(30, 30, 30, .5);
  border-radius: 50%;
}

.piece.wk,
.piece.wq,
.piece.wr,
.piece.wb,
.piece.wn,
.piece.wp,
.piece.bk,
.piece.bq,
.piece.br,
.piece.bb,
.piece.bn,
.piece.bp {
    background-color: transparent;
    background-size: 100%;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.piece.wk {
    background-image: url('../assets/wk.png');
}
.piece.wq {
    background-image: url('../assets/wq.png');
}
.piece.wr {
    background-image: url('../assets/wr.png');
}
.piece.wb {
    background-image: url('../assets/wb.png');
}
.piece.wn {
    background-image: url('../assets/wn.png');
}
.piece.wp {
    background-image: url('../assets/wp.png');
}
.piece.bk {
    background-image: url('../assets/bk.png');
}
.piece.bq {
    background-image: url('../assets/bq.png');
}
.piece.br {
    background-image: url('../assets/br.png');
}
.piece.bb {
    background-image: url('../assets/bb.png');
}
.piece.bn {
    background-image: url('../assets/bn.png');
}
.piece.bp {
    background-image: url('../assets/bp.png');
}
