.square {
  width: 100%;
  height: 100%;
}

/* Base square colors */
.square.light {
  background-color: #f0d9b5;
}

.square.dark {
  background-color: #b58863;
}

/* Valid move indicator */
.square.valid-move::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  height: 40%;
  border-radius: 50%;
  background-color: rgba(30, 30, 30, 0.3); /* Default color */
}

/* Specific valid move colors for light and dark squares */
.square.light.valid-move::after {
  background-color: #b58863;
}

.square.dark.valid-move::after {
  background-color: #f0d9b5;
}

/* Hover state for valid moves */
.square.valid-move.hovered {
  background-color: inherit; /* Keeps background color based on square type */
}

.square.light.valid-move.hovered {
  background-color: #e0c890; /* Soft yellow for light squares */
}

.square.dark.valid-move.hovered {
  background-color: #d1a774; /* Warm brown for dark squares */
}

/* Preserve valid move circle color on hover */
.square.light.valid-move.hovered::after {
  background-color: #b58863; /* Dark square color for light squares */
}

.square.dark.valid-move.hovered::after {
  background-color: #f0d9b5; /* Light square color for dark squares */
}

/* Selected square */
.square.selected {
  background-color: #87b6e0; /* Medium blue */
}
.piece {
  z-index: 2;
}
img.dragging {
  opacity: 0.5;
}