:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: #E0E0E0;
  background-color: #121212;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* board colors */
  
  --board-brown-light: #f0d9b5;
  --board-brown-light-hover: #f3e0c1;
  --board-brown-dark: #b58863;
  --board-brown-dark-hover: #c19a74;

  --board-blue-light: #87b6e0;
  --board-blue-dark: #1c4587;

  --board-green-light: #b5ceb5;
  --board-green-dark: #87b687;

  --board-red-light: #e08787;
  --board-red-dark: #b56363;

  --board-yellow-light: rgb(255, 255, 51);
  --board-yellow-dark: #b5b563;

  --mui-primary-main: var(--mui-palette-primary-main);
  --mui-secondary-main: var(--mui-palette-secondary-main);
  --mui-error-main: var(--mui-palette-error-main);
  --mui-warning-main: var(--mui-palette-warning-main);
  --mui-info-main: var(--mui-palette-info-main);
  --mui-success-main: var(--mui-palette-success-main);

}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}
